a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

.bg{
  background-image: url('../images/ssbackground.jpeg');
}

.logo > img {
  width: 65px !important;
}

.color-green {
  color: #28a745;
}

.bg-brown{
  background-color: #ea8c359a;
}

.bg-grey {
  background-color: #cfd0d2;
}

.w-10{
  width: 10%;
}

.rounded-X2{
  border-radius: 16px;
}

.weight-900{
  font-weight: 900;
}

.img-height{
  height: 30px;
}

.main-logo{
  width: 230px;
}

.border-8{
  border:8px solid white;
}

.border-bottom-1{
  border-bottom: 1px solid grey;
}

.sm-font{
  font-size: 12px;
}
